<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>
  <appSettings>
    <add key="dbConnection" value="Data Source=PT315PDB01_PIA;User Id=VMESDEV;Password=VMESDEV;" />
  </appSettings>
  <log4net>
    <appender name="FileAppender" type="log4net.Appender.FileAppender,log4net" >
      <file type="log4net.Util.PatternString" value="%env{TEMP}\Student_Regist.log" />
      <param name="AppendToFile" value="true" />
      <layout type="log4net.Layout.PatternLayout,log4net">
        <conversionPattern value="%d{dd-MMM-yy- HH:mm:ss} %-5p %c - %m%n"  />
      </layout>
    </appender>
    <root>
      <priority value="ALL" />
      <appender-ref ref="FileAppender" />
    </root>
  </log4net>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
</configuration>